<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/employee/employee-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/normalize/normalize.css}">
    <title>Menu</title>
</head>
<body>
<main class="container">
    <section class="principal">
        <div class="informacion">
            <h1 class="informacion__tittle">Menu</h1>
            <div class="divisor"></div>
            <a class="informacion_nombre">Pepito el s</a>
            <a class="informacion__rut">Rut</a>
            <div class="divisor"></div>
        </div>
        <form class="options" th:action="@{/logout}" method="post">
            <a class="options--a continue" th:href="@{/employee/register}" href=""></a>
            <input class="options--a back" type="submit" value="Logout">
        </form>
    </section>
    <section class="opciones">
        <div class="opciones--card">
            <h2>Opcion 1</h2>
        </div>
        <div class="opciones--card">
            <h2>Opcion 2</h2>
        </div>
        <div class="opciones--card">
            <h2>Opcion 3</h2>
        </div>
    </section>
</main>
</body>
</html>