<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/employee-menu.css}">
    <title>Menu</title>
</head>
<body class="body">

<div class="container__back">
    <div class="button--exit">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout">
        </form>
    </div>
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
    <div class="final"></div>
</div>

<div class="container__img">
    <div class="container__img--left">
        <img class="img" src="/img/gadget/pizza-2.png" alt="">
    </div>
    <div class="container__img--right">
    </div>
</div>

<div class="container__options">
    <a  th:href="@{/employee/register}" class="options--MakeLine"></a>
    <a  th:href="@{/employee/client-list}" class="options--list"></a>
</div>

</body>
</html>