<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Menu</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/style-make-line.css}">
  <title>Menu</title>
</head>
<body>
<div class="container">

  <nav class="navbar">
    <div class="navbar__container ">
      <a href="#register" class="options--register"></a>
    </div>
    <div class="navbar__container">
      <a href="#maker" class="options--maker"></a>
    </div>
    <div class="navbar__container">
      <a href="#drinks" class="options--drinks"></a>
    </div>
    <div class="navbar__container">
      <a href="#breads" class="options--breads "></a>
    </div>
    <div class="navbar__container ">
      <a href="#paid" class="options--paid"></a>
    </div>
    <div class="navbar__container ">
      <a th:href="@{/employee/home}" class="options--back"></a>
    </div>
  </nav>

  <main>
    </form>
    <section id="register" class="register">
      <div class="container__register">
        <div class="information">
          <div class="contact">
            <h2 class="title--principal ">Informacion de cliente</h2>
            <input class="input__contact" type="text" name="name" placeholder="Nombre">
            <input class="input__contact" type="text" name="phone" placeholder="Telefono">
          </div>
          <div class="individual">
            <h2 class="title--principal ">Medio de entraga</h2>
            <div class="container__input">
              <input class="input--individual Dine" type="radio" id="service1" name="service" value="Dine-in">
              <input  class="input--individual Carry" type="radio" id="service2" name="service" value="Carry-out">
              <input class="input--individual Delivery"  type="radio" id="service3" name="service" value="Delivery">
            </div>

          </div>
        </div>
        <div class="message">
          <div class="message__input">
            <h2 class="title--principal ">Comentarios</h2>
            <input class="input__commit" type="text" name="commentary">
            <a class="menssage--submit" href="#maker" placeholder="Avanzar"></a>

          </div>
        </div>
      </div>
    </section>


    <section id="maker" class="maker">
      <div class="container__maker">

      </div>
    </section>


    <section id="drinks" class="drinks">
      <div class="container__drinks">

      </div>
    </section>
    <section id="breads" class="breads">
      <div class="container__breads">

      </div>
    </section>
    <section id="paid" class="paid">
      <div class="container__paid">

      </div>
    </section>
    </form>
  </main>
</div>
</body>
</html>