<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style-view-bakery.css}">
    <title>Manager home | Gestor de producción</title>
</head>
<body>
<div class="container">
    <nav class="navbar">
        <div class="navbar__container--top ">
            <div class="icon--manager">
            </div>
            <div class="data--order">
                <div class="admin--icon">
                    <img th:src="@{/img/management/admin.png}" alt="*image not found">
                </div>
                <div class="admin--data">
                    <h4>Manager:</h4>
                    <p th:text="${nombre}"></p>
                </div>
            </div>
        </div>

        <div class="container__options">
            <a th:href="@{/manager/clients}" class="option--buttons"> Clientes </a>
        </div>
        <div class="container__options">
            <a th:href="@{/manager/pizzas}" class="option--buttons"> Pizzas </a>
        </div>
        <div class="container__options">
            <a th:href="@{/manager/drinks}" class="option--buttons"> Bebestibles </a>
        </div>
        <div class="container__options breads">
            <a th:href="@{/manager/bakery}" class="option--buttons label--style"> Panaderia</a>
        </div>
        <div class="container__options">
            <a th:href="@{/manager/orders}" class="option--buttons"> Ordenes</a>
        </div>

        <form class="navbar__container--bottom logout" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout">
        </form>
    </nav>
    <section>
        <div class="container__items">
            <div class="container__table">
                <h1>
                    Lista de panes vendidos:
                </h1>
                <table class="body--table">
                    <thead class="head--table">
                    <tr>
                        <td class="item--table">Id Pan:</td>
                        <td class="item--table">Nombre:</td>
                        <td class="item--table">Precio:</td>
                        <td class="item--table">Id Cliente</td>
                        <td class="item--table">Delete:</td>
                    </tr>
                    </thead>
                    <tbody class="body--overflow">
                    <tr class="row--table"  th:each="breads:${bread}">
                        <td class="item--table" th:text="${breads.getId()}"></td>
                        <td class="item--table" th:text="${breads.getName()}"></td>
                        <td class="item--table" th:text="${breads.getPrice()}"></td>
                        <td class="item--table" th:text="${breads.getShooper().getId()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
</body>
</html>