<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style-view-bakery.css}">
    <title>Gestión de panadería | Gestor de producción</title>
</head>
<body>
<div class="container">
    <nav class="navbar">
        <div class="navbar__container--top ">
            <div class="icon--manager">

            </div>
            <div class="data--order">
                <div class="admin--icon">
                    <img th:src="@{/img/management/admin.png}" alt="*image not found">
                </div>
                <div class="admin--data">
                    <h4>Manager:</h4>
                    <p th:text="${nombre}"></p>
                    <p th:text="${apellido}"></p>
                </div>
            </div>
        </div>
        <div class="navbar__container--bottom ">
            <a th:href="@{/logout}" class="logout"> Log-out</a>
        </div>
    </nav>
    <section>

    </section>
</div>

</body>
</html>