<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style-view-clients.css}">
    <title>Manager home | Gestor de producción</title>
</head>
<body>
<div class="container">
    <nav class="navbar">
        <div class="navbar__container--top ">
            <div class="icon--manager">
            </div>
            <div class="data--order">
                <div class="admin--icon">
                    <img th:src="@{/img/management/admin.png}" alt="*image not found">
                </div>
                <div class="admin--data">
                    <h4>Manager:</h4>
                    <p th:text="${nombre}"></p>
                </div>
            </div>
        </div>

        <div class="container__options client">
            <a th:href="@{/manager/clients}" class="option--buttons label--style"> Clientes </a>
        </div>
        <div class="container__options">
            <a th:href="@{/manager/pizzas}" class="option--buttons"> Pizzas </a>
        </div>
        <div class="container__options">
            <a th:href="@{/manager/drinks}" class="option--buttons"> Bebestibles </a>
        </div>
        <div class="container__options">
            <a th:href="@{/manager/bakery}" class="option--buttons"> Panaderia</a>
        </div>
        <div class="container__options">
            <a th:href="@{/manager/orders}" class="option--buttons"> Ordenes</a>
        </div>

        <div class="navbar__container--bottom ">
            <a th:href="@{/logout}" class="logout"> Log-out</a>
        </div>
    </nav>
    <section>
        <div class="container__items">
            <div class="container__table">
                <h1>
                    Lista de clientes:
                </h1>
                <table class="body--table">
                    <thead class="head--table">
                        <tr>
                            <td class="item--table">Id cliente:</td>
                            <td class="item--table">Nombre:</td>
                            <td class="item--table">Teléfono:</td>
                            <td class="item--table">Forma retiro:</td>
                            <td class="item--table">Comentario:</td>
                            <td class="item--table">Delete:</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row--table"  th:each="shoopers:${shooper}">
                            <td class="item--table" th:text="${shoopers.getId()}"></td>
                            <td class="item--table" th:text="${shoopers.getName()}"></td>
                            <td class="item--table" th:text="${shoopers.getPhone()}"></td>
                            <td class="item--table" th:text="${shoopers.getMeansDelivery()}"></td>
                            <td class="item--table" th:text="${shoopers.getCommentary()}"></td>
                            <td class="item--btn">
                                <button th:href="@{/deleteShooper/{id}(id = ${shoopers.getId()})}" class="btn-delete Delete">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>


</div>
</body>
</html>