<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Menu</title>
</head>

<body class="body">

<div class="container__back">
    <div class="button--exit">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout">
        </form>
    </div>
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
    <div class="final"></div>
</div>

<div class="container__img">
    <div class="container__img--left">
        <img class="img" src="/img/pizza-2.png" alt="">
    </div>
    <div class="container__img--right">
    </div>
</div>

<div class="container__options">
    <div class="options--MakeLine"></div>
    <div class="options--list"></div>
</div>

</body>

</html>