<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/login-style.css}">
    <title>Log-In</title>
</head>
<body>
<main class="container">
    <form th:action="@{/login}" method="post" class="form-content">
        <div class="container__items">
            <h1 class="item__input--titulo">Log-In</h1>
            <div>
                <p class="error" th:if="${param.error}">Cuenta invalida</p>
            </div>
            <div class="input--info">
                <input class="item--input" type="text" name="rut"
                       required="" placeholder="Rut">
                <input class="item--input" type="password"
                       name="password" required="" placeholder="Password">
            </div>

            <div class="item__button">
                <button class="item__button--submit" type="submit"
                     value="Login">Ingresar</button>
                <a class="item__button--submit" th:href="@{/logout}">Volver</a>
            </div>
        </div>
    </form>

</main>
</body>

</html>