<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/login-employee.css}">
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <title>Log-In Employee | Gestor de producción</title>
</head>
<body class="background">
<div class="container">
    <form th:action="@{/employee/home}" method="post" class="form-content">
            <div class="items-center">
                <input type="text" name="rut" required>
                <input type="password" name="password" required>
            </div>
        <button class="btn mt-3" type="submit" value="login">Login</button>
    </form>
</div>
</body>
</html>