<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/style-breads.css}">
  <title>Breads</title>
</head>
<body>
<div class="container">
  <nav class="navbar">
    <div class="navbar__container ">
      <p class="options--register"></p>
    </div>
    <div class="navbar__container">
      <p class="options--maker"></p>
    </div>
    <div class="navbar__container">
      <a th:href="@{/employee/drinks}" class="options--drinks"></a>
    </div>
    <div class="navbar__container">
      <a th:href="@{/employee/breads}" class="options--breads"></a>
    </div>
    <div class="navbar__container ">
      <a th:href="@{/employee/paid}" class="options--paid"></a>
    </div>
    <div class="navbar__container ">
      <a th:href="@{/employee/drinks}" class="options--back"></a>
    </div>
  </nav>
  <main>
    <form th:action="@{/employee/save-bread}" method="post" class="form-content">
      <section id="breads" class="breads">
        <div class="container__breads">
          <div class="bread--selection">
            <h2 class="title--principal ">Selección de pan</h2>
            <div class="container__input">
              <input class="input--size White" type="radio" id="bread1" name="name" value="White" required>
              <input  class="input--size Croissant" type="radio" id="bread2" name="name" value="Croissant" required>
              <input class="input--size Salt"  type="radio" id="bread3" name="name" value="Salt" required>
              <input class="input--size No-bread"  type="radio" id="bread4" name="name" value="No" required>
            </div>
          </div>
          <div class="container__submit">
            <button class="message--submit" href="#maker" type="submit"></button>
          </div>
        </div>
      </section>
    </form>
  </main>

</div>
</body>
</html>