<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style-make-line.css}">
    <title>Make-Line</title>
</head>

<body>
<div class="container">
    <nav class="navbar">

        <div class="navbar__container ">
            <a href="#register" class="options--register"></a>
        </div>

        <div class="navbar__container">
            <a href="#maker" class="options--maker"></a>
        </div>

        <div class="navbar__container">
            <a href="#drinks" class="options--drinks"></a>
        </div>

        <div class="navbar__container">
            <a href="#breads" class="options--breads "></a>
        </div>

        <div class="navbar__container ">
            <a href="#paid" class="options--paid"></a>
        </div>

        <div class="navbar__container ">
            <a th:href="@{/employee/register}" class="options--back"></a>
        </div>

    </nav>
    <main>
        <section id="maker" class="maker">


                <div class="container__maker">
                    <h1 class="container--title">Pizzas disponibles</h1>
                    <div class="container__interno">

                        <form th:action="@{/employee/save-pizza}" method="post" class="form-content">

                        <div class="divisor">
                            <div class="container__pizza pecado">
                                <h3 class="title">Pecado</h3>
                                <div class="informacion">

                                    <p class="info__text">Tomate, mozarella, jamón york, ternera, bacon y peperoni
                                    </p>
                                    <p class="precio">Precio:</p>
                                    <button class="button__select" type="submit" name="name" value="Pecado"></button>
                                </div>
                            </div>
                            <div class="container__pizza napolitana">
                                <h3 class="title">Napolitana</h3>
                                <div class="informacion">

                                    <p class="info__text">Tomate, mozarella, rodajas de tomate, anchoas, parmesano
                                    </p>
                                    <p class="precio">Precio:</p>
                                    <button class="button__select" type="submit" name="name" value="Napolitana"></button>
                                </div>
                            </div>
                            <div class="container__pizza barbonara">
                                <h3 class="title">Barbonara</h3>
                                <div class="informacion">

                                    <p class="info__text">Tomate, mozarella, ternera y salsa barbacoa</p>
                                    <p class="precio">Precio:</p>
                                    <button class="button__select" type="submit" name="name" value="Barbonara"></button>
                                </div>
                            </div>
                            <div class="container__pizza queso4">
                                <h3 class="title">Cuatro Queso</h3>
                                <div class="informacion">

                                    <p class="info__text">Tomate, mozarella, mezcla de quesos y roquefort</p>
                                    <p class="precio">Precio: </p>
                                    <button class="button__select" type="submit" name="name" value="Cuatro Queso"></button>
                                </div>
                            </div>
                        </div>
                        </form>

                        <form th:action="@{/employee/save-pizza}" method="post" class="form-content">

                        <div class="divisor">
                            <div class="container__pizza bolonesa">
                                <h3 class="title">Bolonesa</h3>
                                <div class="informacion">
                                    <p class="info__text">Doble tomate, mozarella, ternera, parmesano</p>
                                    <p class="precio">Precio</p>
                                    <button class="button__select" type="submit" name="name" value="Bolonesa"></button>

                                </div>
                            </div>
                            <div class="container__pizza marinera">
                                <h3 class="title">Marinera</h3>
                                <div class="informacion">

                                    <p class="info__text">Tomate, mozarella, atún, bocas de mar, gambas, aceitunas
                                    </p>
                                    <p class="precio">Precio</p>
                                    <button class="button__select" type="submit" name="name" value="Marinera"></button>

                                </div>
                            </div>
                            <div class="container__pizza hawaiana">
                                <h3 class="title">Hawaiana</h3>
                                <div class="informacion">

                                    <p class="info__text">Tomate, mozarella, jamón york y piña</p>
                                    <p class="precio">Precio</p>
                                    <button class="button__select" type="submit" name="name" value="Hawaiana"></button>

                                </div>
                            </div>
                            <div class="container__pizza peperoni">
                                <h3 class="title">Peperoni</h3>
                                <div class="informacion">

                                    <p class="info__text">Tomate, mozarella, peperoni, salami, champiñones, cebolla
                                    </p>
                                    <p class="precio">Precio</p>
                                    <button class="button__select" type="submit" name="name" value="Peperoni"></button>

                                </div>
                            </div>
                        </div>
                        </form>

                        <form th:action="@{/employee/save-pizza}" method="post" class="form-content">

                        <div class="divisor">
                            <div class="container__pizza vegetariana">
                                <h3 class="title">Vegetariana</h3>
                                <div class="informacion">

                                    <p class="info__text">Tomate, mozarella, rodajas de tomate, pimiento verde</p>
                                    <p class="precio">Precio</p>
                                    <button class="button__select" type="submit" name="name" value="Vegetariana"></button>

                                </div>
                            </div>
                            <div class="container__pizza pesto">
                                <h3 class="title">Pesto</h3>
                                <div class="informacion">

                                    <p class="info__text">Tomate, mozarella, rodajas de tomate, parmesano, crema
                                        albahaca</p>
                                    <p class="precio">Precio</p>
                                    <button class="button__select" type="submit" name="name" value="Pesto"></button>

                                </div>
                            </div>
                            <div class="container__pizza tuscan">
                                <h3 class="title">Mediterránea</h3>
                                <div class="informacion">

                                    <p class="info__text">Tomate, mozarella, rodajas de tomate, pimiento verde,
                                        pollo,
                                        cebolla, salsa de ajo</p>
                                    <p class="precio">Precio</p>
                                    <button class="button__select" type="submit" name="name" value="Mediterránea"></button>

                                </div>
                            </div>
                            <div class="container__pizza carbonara">
                                <h3 class="title">Carbonara</h3>
                                <div class="informacion">

                                    <p class="info__text">Tomate, mozarella, rodajas de tomate, pimiento verde</p>
                                    <p class="precio">Precio</p>
                                    <button class="button__select" type="submit" name="name" value="Carbonara"></button>

                                </div>
                            </div>
                        </div>
                        </form>
                    </div>



                </div>

            <div class="container__list">
                <div class="container__list--tr">

                </div>
                <div class="container__button">
                    <a  class="menssage--submit" th:href="@{/employee/drinks}">  </a>
                </div>

            </div>
        </section>
    </main>


</div>
</body>

</html>