<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paid</title>
</head>
<body>
<div class="container">
    <nav class="navbar">

        <div class="navbar__container ">
            <a href="#register" class="options--register"></a>
        </div>

        <div class="navbar__container">
            <a href="#maker" class="options--maker"></a>
        </div>

        <div class="navbar__container">
            <a href="#drinks" class="options--drinks"></a>
        </div>

        <div class="navbar__container">
            <a href="#breads" class="options--breads "></a>
        </div>

        <div class="navbar__container ">
            <a href="#paid" class="options--paid"></a>
        </div>

        <div class="navbar__container ">
            <a href="#back" class="options--back"></a>
        </div>

    </nav>

    <main>
        <section id="paid" class="paid">
            <div class="container__paid">
                <h1>Detalles de Compra</h1>
                <div class="item__paid">


                </div>

            </div>
            <div class="container__details">
                <h1>Cliente</h1>
                <div class="item__details">
                    <tr  th:each="pizzas:${pizza}">
                        <p class="container__name--pizza"><span th:text="${pizzas.name}"></span></p>
                    </tr>

                </div>
            </div>
        </section>
    </main>

</div>
</body>
</html>