<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style-paid.css}">

    <title>Register</title>
</head>
<body>
<div class="container">
    <nav class="navbar">

        <div class="navbar__container ">
            <a href="#register" class="options--register"></a>
        </div>

        <div class="navbar__container">
            <a href="#maker" class="options--maker"></a>
        </div>

        <div class="navbar__container">
            <a th:href="@{/employee/drinks}" class="options--drinks"></a>
        </div>
        <div class="navbar__container">
            <a th:href="@{/employee/breads}" class="options--breads"></a>
        </div>
        <div class="navbar__container ">
            <a th:href="@{/employee/paid}" class="options--paid"></a>
        </div>
        <div class="navbar__container ">
            <a th:href="@{/employee/home}" class="options--back"></a>
        </div>

    </nav>

    <main>
        <section id="paid" class="paid">

            <div class="container__paid">
                <h1>Detalles de Compra</h1>
                <div class="item__paid">
                    <tr  th:each="pizzas:${pizza}">
                        <p class="container__list">Pizza: <span th:text="${pizzas.name}"></span></p>
                    </tr>

                    <tr  th:each="breads:${bread}">
                        <p class="container__list">Pan: <span th:text="${breads.name}"></span></p>
                    </tr>

                    <tr  th:each="drinks:${drink}">
                        <p class="container__list">Bebida(Sabor): <span th:text="${drinks.drinkFlavor}"></span></p>
                        <p class="container__list">Bebida(Tamaño): <span th:text="${drinks.drinkSize}"></span></p>
                    </tr>
                </div>
            </div>

            <div class="container__details">
                <h1>Cliente</h1>
                <div class="item__details">
                    <tr  th:each="shoopers:${shooper}">
                        <p class="container__name">Nombre: <span th:text="${shoopers.name}"></span></p>
                        <p class="container__name">Telefono: <span th:text="${shoopers.phone}"></span></p>
                        <p class="container__name">Tipo de servicio: <span th:text="${shoopers.meansDelivery}"></span></p>
                    </tr>
                </div>
                <div class="item__details--pago">


                </div>

            </div>
        </section>
    </main>
</div>
</body>
</html>