* {
    padding: 0px;
    margin: 0px;
    color: #2D402E;
    font-family: monospace;
}


h2 {
    margin-left: 5%;
    font-size: 4em;
    color: #ffffff;
    font-weight: 800;

}

p {
    margin: 1%;
    font-size: 2em;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/back-ground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1.09fr 1fr;
}

.container__content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 5.5%;
}

a {
    text-decoration: none;
    margin-left: 2%;
    width: 45.4vw;
    height: 10vh;
}

.content--option {
    display: flex;
    align-items: center;
    align-content: center;
    height: 20vh;
    margin-top: 2%;
}

.content--option:hover {
    background-color: #ffdb4f;
    color: #ffffff;
    border: 1px solid;
}

.content__option--input {
    border: none;
    display: flex;
    align-items: center;
    background: none;
    align-content: center;
    font-size: 4.8em;
    font-weight: 800;
    margin-top: 7.5%;
    margin-left: 2.5%;
}

.content__option--input:hover {
    color: #ffffff;
}

.option1{
    margin-top: 20%;
}