/*--|Generales|-----------------------------------------------------------------------------------------------------*/
:root {
    --azul: #1d3159;
    --celeste: #45648c;
    --blanco: #f0f2f2;
    --verde: #31591d;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: var(--azul);
    overflow-y: hidden;
}

/*--|Barra de navegacion|------------------------------------------------------------------------------------------ */

.navbar {
    width: 14.5vw;
    position: fixed;
    margin-left: 1%;
    height: 97%;
    display: grid;
    background-color: var(--blanco);
    border-radius: 0.5%;


    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.navbar__container--top {
    display:flex;
    justify-content:center;
}

.data--order{
    margin-top: 5%;
}
.admin--icon{
    box-shadow: 0 0 6px 0.1px var(--celeste);

}
.admin--data{
    margin-top: 10%;
}

.navbar__container--bottom {
    display: flex;
    align-items:flex-end;
    margin-top: 60vh;
}
/*--|Logout|------------------------------------------------------------------------------------------ */

.logout{
    margin-left:15%;
    margin-bottom: 20%;
    border-radius: 10%;
    box-shadow: 1px 5px 30px 3px rgba(0, 0, 0, 0.3);


    background-color: var(--celeste);
    text-decoration: none;
    color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70%;
    height: 7%;

}
.logout:hover{
    background-color: var(--azul);
}
/*--|Section|------------------------------------------------------------------------------------------ */
section {
    height: 100vh;
    width: 90vw;
    left: 10vw;
    position: relative;
}
/*--|contenedor de opciones|------------------------------------------------------------------------------------------ */
.container__options{
    width: 90%;
    height: 97%;
    margin-left: 7%;
    margin-top: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    border-radius: 0.3%;

    background-color: var(--blanco);
}
/*--|contenedor de inputs|------------------------------------------------------------------------------------------ */
.container--input{
    width: 50%;
    height: 80%;
    display: flex;
    align-items:end;
    justify-content: center;

    margin-left:25%;
    margin-top: 4%;
    background-color: var(--blanco);
    border-radius: 5%;
    box-shadow: 1px 5px 30px 10px rgba(0, 0, 0, 0.3);
}

/*--|contenedor inputs|------------------------------------------------------------------------------------------ */
.management--clients:hover,
.management--pizzas:hover,
.management--drinks:hover,
.management--bakery:hover,
.management--orders:hover {
    border-radius: 5%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);

}
.management--clients{
    background-color: var(--blanco);
    background-image: url("../img/management/client.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 33%;
}
.management--pizzas{
    background-color: var(--blanco);
    background-image: url("../img/management/pizza.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}
.management--drinks{
    background-color: var(--blanco);
    background-image: url("../img/management/drink.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32%;
}
.management--bakery{
    background-color: var(--blanco);
    background-image: url("../img/management/bread.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}
.management--orders{
    margin-left: 75%;
    background-color: var(--blanco);
    background-image: url("../img/management/order.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}
h2{
    margin-bottom: 3%;
}
a{
    font-weight: bold;
}
input{
    background: transparent;
    border:none;
    color:white;
    font-size: 17px;
}