/*--|Generales|-----------------------------------------------------------------------------------------------------*/
:root {
    --rojo: #BF4141;
    --amarillo: #FFDB4F;
    --blanco: #F0F2F2;
    --verde: #2D402E;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: var(--verde);
    overflow-y: hidden;
}

/*--|Barra de navegacion|------------------------------------------------------------------------------------------ */

.navbar {
    margin: 1% 1% 1% 1.5%;
    border-radius: 15px;
    width: 8vw;
    position: fixed;
    height: 95%;
    display: grid;
    background-color: var(--blanco);

    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.navbar__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.options--back:hover,
.options--paid:hover,
.options--breads:hover,
.options--drinks:hover,
.options--maker:hover,
.options--register:hover {
    border-radius: 5%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);

}

.options--register{
    background: var(--amarillo);
    border-radius: 15px;
}

.options--register {
    width: 90%;
    height: 90%;
    background-image: url("../img/agregar-verde.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.options--maker {
    width: 90%;
    height: 90%;
    background-image: url("../img/pizza.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.options--drinks {
    width: 90%;
    height: 90%;
    background-image: url("../img/soda-verde.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.options--breads {
    width: 90%;
    height: 90%;
    background-image: url("../img/bread.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.options--paid {
    width: 90%;
    height: 90%;
    background-image: url("../img/paid.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.options--back {
    width: 90%;
    height: 90%;
    background-image: url("../img/back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

/*--|Secciones|---------------------------------------------------------------------------------------------------- */

section {
    height: 100vh;
    width: 90vw;
    left: 10vw;
    position: relative;
}


/*---------------|Registro|---------------*/
.container__register {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*--|Informacion|--*/
.information {
    display: grid;
    grid-template-rows: 1fr 1fr;

}

.contact {
    background-color: var(--blanco);
    width: 87%;
    height: 85%;
    margin: 5% 0 0 10%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}


.input__contact {
    margin: 1% 0 5% 15%;
    width: 70%;
    height: 40%;
    border: none;
    border-bottom: 2px solid #2D402E;
    background: none;
}

input::placeholder {
    background: none;
    color: var(--verde);
    font-size: 200%;
    font-weight: 400;
}

input {
    border: 1px var(--verde) solid;
}

.title--principal {
    text-align: center;
    color: var(--verde);
    margin-top: 5%;
    font-size: 2.5vw;
    font-weight: bolder;
}

.individual {
    background-color: var(--blanco);
    width: 87%;
    height: 90%;
    margin: 0 0 0 10%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    align-items: center;
}

input[type="radio"] {
    appearance: none;

}

.input--individual {
    background-color: var(--verde);
    width: 60%;
    height: 60%;
    margin: 5%;
}

.input--individual:checked {
    background-color: var(--amarillo);

}

.Dine {
    border-radius: 10px;
    background-image: url("../img/cubiertos-amarillos.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

.Dine:checked {
    background-image: url("../img/cubiertos-verdes.png");
}

.Carry {
    border-radius: 10px;
    background-image: url("../img/recoger-amarillo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

.Carry:checked {
    background-image: url("../img/recoger-verde.png");
}

.Delivery {
    border-radius: 10px;
    background-image: url("../img/repartidor-verde.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

.Delivery:checked {
    background-image: url("../img/repartidor-amarillo.png");
}

.container__input {
    margin-left: 10%;
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--|mensaje|--*/
.message__input {
    background-color: var(--blanco);
    width: 90%;
    height: 90.5%;
    margin: 5% 0 0 0;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.message__input {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

.input__commit {
    border-radius: 15px;
    margin-left: 10%;
    width: 80%;
}

.menssage--submit {
    border-radius: 10px;
    text-decoration: none;
    font-size: xx-large;
    color: var(--amarillo);
    text-align: center;

    margin-top: 2.8%;
    margin-left: 35%;
    width: 30%;
    height: 60%;
    background-image: url("../img/avanzar-amarillo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--verde);
}

.menssage--submit:hover {
    background-image: url("../img/avanzar-verde.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--amarillo);
}