/*--|Generales|-----------------------------------------------------------------------------------------------------*/
:root {
    --rojo: #BF4141;
    --amarillo: #FFDB4F;
    --blanco: #F0F2F2;
    --verde: #2D402E;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: var(--verde);
    overflow-y: hidden;
}


/*--|Barra de navegacion|------------------------------------------------------------------------------------------ */

.navbar {
    margin: 1% 1% 1% 1.5%;
    border-radius: 15px;
    width: 8vw;
    position: fixed;
    height: 95%;
    display: grid;
    background-color: var(--blanco);

    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.navbar__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.options--breads{
    background: var(--amarillo);
    border-radius: 10px;
}
.options--register {
    border-radius: 10px;
    background-color: var(--amarillo);
}
.options--maker {
    border-radius: 10px;
    background-color: var(--amarillo);
}
.options--drinks {
    background: var(--amarillo);
    border-radius: 10px;
}

.options--register {
    width: 90%;
    height: 90%;
    background-image: url("../img/agregar-verde.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.options--maker {
    width: 90%;
    height: 90%;
    background-image: url("../img/pizza.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.options--drinks {
    width: 90%;
    height: 90%;
    background-image: url("../img/soda-verde.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.options--breads {
    width: 90%;
    height: 90%;
    background-image: url("../img/bread.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.options--paid {
    width: 90%;
    height: 90%;
    background-image: url("../img/paid.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.options--back {
    width: 90%;
    height: 90%;
    background-image: url("../img/back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.options--back:hover{
    border-radius: 5%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);

}

/*--|Secciones|---------------------------------------------------------------------------------------------------- */

section {
    height: 100vh;
    width: 90vw;
    left: 10vw;
    position: relative;
}
/*---------------|Pan|---------------*/
.container__breads {
    width: 90%;
    height: 90%;

    display: grid;
    grid-template-rows: 2.5fr 1fr;
}
/*---|Tipo pan|--------------------------------- */
.bread--selection {
    background-color: var(--blanco);
    width: 90%;
    height: 100%;
    margin: 1% 0 0 10%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    align-items: center;
}
.White {
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.2);
    background-image: url("../img/breads/white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}
.Salt {
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.2);
    background-image: url("../img/breads/Salt.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}
.Croissant {
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.2);
    background-image: url("../img/breads/croissant.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.No-bread {
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.2);
    background-image: url("../img/cross.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    margin-left: 100%;
}
/*---|Title|--------------------------------- */
.title--principal {
    text-align: center;
    color: var(--verde);
    margin-top: 5%;
    font-size: 2.5vw;
    font-weight: bolder;
}
/*---|Input|--------------------------------- */

input::placeholder {
    background: none;
    color: var(--verde);
    font-size: 200%;
    font-weight: 400;
}

input {
    border: 1px var(--verde) solid;
}

input[type="radio"] {
    appearance: none;
}

.input--size {
    border: none;
    background-color: var(--blanco);
    width: 40%;
    height: 80%;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.input--size:hover {
    background-color: var(--amarillo);
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.input--size:checked {
    background-color: var(--amarillo);
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.container__input {
    margin-left: 15%;
    margin-top: 3%;
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/*---| submit button|--------------------------------- */

.container__submit {
    background-color: var(--blanco);
    width: 90%;
    height: 90%;
    margin: 5% 0 0 10%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;

    display: grid;
    grid-template-rows: 1fr;
}
.message--submit {
    border-radius: 10px;
    text-decoration: none;
    font-size: xx-large;
    color: var(--amarillo);
    text-align: center;

    margin-top: 5.5%;
    margin-left: 30%;
    width: 40%;
    height: 40%;
    background-image: url("../img/avanzar-amarillo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--verde);
}

.message--submit:hover {
    background-image: url("../img/avanzar-verde.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--amarillo);
}