/*--|Generales|-----------------------------------------------------------------------------------------------------*/
:root {
    --rojo: #BF4141;
    --amarillo: #FFDB4F;
    --blanco: #F0F2F2;
    --verde: #2D402E;
}

input[type="radio"] {
    appearance: none;
}

h2 {
    font-size: 200%;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--verde);

}

body {
    background-color: var(--verde);
    overflow-y: hidden;
}
/*--|Barra de navegacion|------------------------------------------------------------------------------------------ */

.navbar {
    margin: 1% 1% 1% 1.5%;
    border-radius: 15px;
    background-color: var(--blanco);
    width: 8vw;
    position: fixed;
    height: 95%;
    display: grid;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.navbar__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.options--back:hover,
.options--paid:hover,
.options--breads:hover,
.options--drinks:hover,
.options--register:hover {
    border-radius: 5%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.options--maker,
.options--register,
.options--paid{
    border-radius: 15px;
    background-color: var(--amarillo);
}

.options--register {
    width: 90%;
    height: 90%;
    background-image: url("../img/agregar-verde.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.options--maker {
    width: 90%;
    height: 90%;
    background-image: url("../img/pizza.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.options--drinks {
    width: 90%;
    height: 90%;
    background-image: url("../img/soda-verde.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.options--breads {
    width: 90%;
    height: 90%;
    background-image: url("../img/bread.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.options--paid {
    width: 90%;
    height: 90%;


    background-image: url("../img/paid.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}


.options--back {
    width: 90%;
    height: 90%;
    background-image: url("../img/back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.options--back:hover{
    border-radius: 5%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);

}

/*--|Secciones|---------------------------------------------------------------------------------------------------- */

section {
    height: 100vh;
    width: 90vw;
    left: 10vw;
    position: relative;
}

/*---------------|container|---------------*/
.paid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    place-items: center;
}

.container__paid {
    border-radius: 15px;
    width: 80%;
    height: 90%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--blanco);

    display: grid;
    grid-template-rows: 0.5fr 4fr;
    place-items: center;

}

.container__details {
    position: relative;
    right: 30%;
    border-radius: 15px;
    width: 90%;
    height: 90%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--blanco);

    display: grid;
    grid-template-rows: 0.5fr 4fr;
    place-items: center;
=======
>>>>>>> 391f3518bbf01b1b18804d92234fad1384e5cf5c
}