<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/login-employee.css}">
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <title>Menu</title>
</head>
<body class="Center">
    <div align="center">
        <h2>Welcom the Cum Zone</h2>
        <p>
        <h4><a th:href="@{/employee/login}">employee Login</a></h4>
        <h4><a th:href="@{/manager/login}">manager Login</a></h4>
    </div>
</body>
<style>


</style>
</html>