<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style-index.css}">
    <title>Log-In</title>
</head>

<body>
<main class="container">
    <div class="container__options">
        <h1 class="title">Menu</h1>
        <div class="options--input">
            <a class="title--input" th:href="@{/employee/home}">Employee</a>
            <a class="title--input" th:href="@{/manager/home}">Manager</a>
        </div>
    </div>
</main>
</body>


</style>
</html>