*{
    font-family: monospace;
    margin: 0vw;
    padding: 0vw;
}
.background{
    background-color: #CF240A;
}
.background-image{
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 5vw;
}
.form-content {
    border-radius: 1vw 1vw 1vw 1vw;
    background: #F0EDE8;
    width: 25vw;
    height: 35vh;
    box-shadow: 0 1vw 3vw 0 rgba(0,0,0,0.3);
    text-align: center;
    margin-top: 3vh;
    margin-left: 35vw;
    padding-top: 4vh;
}
input[type=text] {
    background-color: #f2f2f2;
    font-size: 2vh;
    width: 15vw;
    border: 0.1vw solid #121212;
    padding: 0.2vw 3vh;
    border-radius: 1vw 1vw 1vw 1vw;
    margin: 3.3vh;
}
input[type=password] {
    background-color: #f2f2f2;
    font-size: 2vh;
    width: 15vw;
    border: 0.1vw solid #121212;
    padding: 0.2vw 3vh;
    border-radius: 1vw 1vw 1vw 1vw;
    margin: 3.3vh;
}
.btn {
    background-color: #121212;
    color: #f2f2f2;
    padding: 1vh 2vw;
    border: none;
    cursor: pointer;
    width: 10vw;
    font-size: 1.5vh;
    border-radius: 1vw 1vw 1vw 1vw;
    margin-left: 3vh;
}
.btn:hover {
    background-color: #FEC208;
    color: #121212;
}
.container-position{
    margin: 1vh;
}
.selection-div{
    padding-left: 69vh;
    margin-top: 10vw;
}
#employee{
    background-color: #121212;
    color: #f2f2f2;
}
#admin{
    background-color: #F2F2F2;
    color: #121212;
}
